<div class="container" style="background: #efe9e9;">
  <div class="row main">
      <div class="searchBar">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="user" (input)="getGitHubUsers()" aria-label="Dollar amount (with dot and two decimal places)">
          <div class="input-group-append">
            <span class="input-group-text">$</span> 
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="profile">
      <h6>Total record</h6>
      <div class="card"   *ngFor="let user of GitHubData" >
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <div class="profil-image">
                <img  src="../favicon.ico">
              </div>
            </div>
            <div class="col-md-8">
              <h4>Sonali Shingade</h4>
              <h6>{{user.url}}</h6>
              <span>Data Label: Value One </span><br>
              <span>Data Label: Value One </span>
            </div>
            <div class="col-md-2" id="toggel-button">
              <button type="button" data-toggle="collapse" href="#collapseExample" (click)="getProfileDetail(user.id)"  class="btn btn-outline-primary">Primary</button>
            </div>
          </div>
        </div>
        <table class="table collapse" id="collapseExample">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
    </div>
  </div>
</div>